.Appbar {
  // font-size: 10px;
  color: white;
}

.navbar-link-item {
  color: white;
  font-size: 30px;
  height: 70px;
  width: 70px;
  float: left;
  margin: 0;
  &:hover {
    background-color: rgba(0,0,0,0.3);
  }
  a {
    color: white !important;
    line-height: 40px !important;
    text-align: center;
  }
  @media (max-width: 520px) {
    height: auto;
    width: auto;
    font-size: 20px;
    a {
      line-height: 30px !important;
    }
  }
}

.Appbar-brand {
  padding-top: 6px;
  @media (max-width: 520px) {
    padding-top: 10px;
  }
  img { // logo
    height: 40px;
    margin: 9px;
    line-height: 0;
    @media (max-width: 520px) {
      margin: 0;
      height: 27px;
    }
  }
  span { // text
    font-size: 14px;
  }
}
